## Import Libs

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import streamlit as st
from datetime import datetime

panda = data mulipliation
numpy = organize array
plot
    graph_obj = adjust graphs
    express = user friendly, adjust data?
streamlit = sponsored
datetime = dates

## Load data

In [19]:
df_agg = pd.read_excel('raw data\eng\Key-financial-information-HA-en.xlsx', engine='openpyxl').iloc[3:,:]

In [20]:
df_agg

,"Key Income and Expenditure items of Hospital Authority, 2021-22 to 2023-24",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,2021-22 (for the year ended 31 March 2022),81585,5251,1162,159,154,88311,58118,9642,5969,14091,87820,491
4,2022-23 (for the year ended 31 March 2023),87964,5236,1782,269,156,95407,59419,12451,6325,16734,94929,478
5,2023-24 (for the year ended 31 March 2024),89194,5866,3073,93,153,98379,62414,13127,5388,16464,97393,986

## Data cleaning

In [49]:
#@st.cache
def load_data():
    df_agg = pd.read_excel('raw data\eng\Key-financial-information-HA-en.xlsx', engine='openpyxl').iloc[3:,:]
    df_agg.columns = ['year','gov_subvention','med_fee','non_med_fee','donate','cap_donate','total','staff_cost','drugs','med_supplies','other_exp','total_exp','surplus_deficit']
    #cleaning years
    df_agg['year'] = df_agg['year'].apply(lambda x: str(x).split('-')[0])
    df_agg['year'] = pd.to_datetime(df_agg['year'])
    #turn to float types
    cols_to_fix = ['staff_cost', 'drugs', 'med_supplies', 'other_exp', 'total_exp']
    for col in cols_to_fix:
        df_agg[col] = pd.to_numeric(df_agg[col], errors='coerce')
    return df_agg

In [50]:
load_data()

,year,gov_subvention,med_fee,non_med_fee,donate,cap_donate,total,staff_cost,drugs,med_supplies,other_exp,total_exp,surplus_deficit
3,2021-01-01,81585,5251,1162,159,154,88311,58118,9642,5969,14091,87820,491
4,2022-01-01,87964,5236,1782,269,156,95407,59419,12451,6325,16734,94929,478
5,2023-01-01,89194,5866,3073,93,153,98379,62414,13127,5388,16464,97393,986

## ANALYISTICS

In [51]:
total_spent = df_agg['total_exp'].sum()
avg_spending = df_agg['total_exp'].mean()
ranking =df_agg[['staff_cost', 'drugs', 'med_supplies', 'other_exp']].sum().sort_values(ascending=False)

In [52]:
ranking

staff_cost      179951
other_exp        47289
drugs            35220
med_supplies     17682
dtype: int64

In [55]:
print(f"{avg_spending:.2f}")

93380.67