## Import Libs

In [26]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import streamlit as st
from datetime import datetime

panda = data mulipliation
numpy = organize array
plot
    graph_obj = adjust graphs
    express = user friendly, adjust data?
streamlit = sponsored
datetime = dates

## Load data

In [2]:
df_finan = pd.read_excel('raw data\eng\Key-financial-information-HA-en.xlsx', engine='openpyxl').iloc[3:,:]

In [3]:
df_finan

,"Key Income and Expenditure items of Hospital Authority, 2021-22 to 2023-24",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,2021-22 (for the year ended 31 March 2022),81585,5251,1162,159,154,88311,58118,9642,5969,14091,87820,491
4,2022-23 (for the year ended 31 March 2023),87964,5236,1782,269,156,95407,59419,12451,6325,16734,94929,478
5,2023-24 (for the year ended 31 March 2024),89194,5866,3073,93,153,98379,62414,13127,5388,16464,97393,986

## Data cleaning

In [36]:
#@st.cache
def load_data():
    # --- Fianical ---
    df_finan = pd.read_excel('raw data\eng\Key-financial-information-HA-en.xlsx', engine='openpyxl').iloc[3:,:]
    df_finan.columns = ['year','gov_subvention','med_fee','non_med_fee','donate','cap_donate','total','staff_cost','drugs','med_supplies','other_exp','total_exp','surplus_deficit']
    #cleaning years
    df_finan['year'] = df_finan['year'].apply(lambda x: str(x).split('-')[0])
    df_finan['year'] = pd.to_datetime(df_finan['year'])
    #turn to float types
    cols_to_fix = ['gov_subvention','med_fee','non_med_fee','donate','cap_donate','total','staff_cost','drugs','med_supplies','other_exp','total_exp','surplus_deficit']
    for col in cols_to_fix:
        df_finan[col] = pd.to_numeric(df_finan[col], errors='coerce')

    # --- manpower ---
    df_staffnum = pd.read_excel('raw data\eng\manpower-position-by-staff-group-en.xlsx', engine='openpyxl').iloc[15:18,:]
    df_staffnum.columns = ['year','medical','nursing','allied_health','management','care_support','others','overall']
    #cleaning years
    df_staffnum['year'] = df_staffnum['year'].apply(lambda x: str(x).split('-')[0])
    df_staffnum['year'] = pd.to_datetime(df_staffnum['year'])
    #turn to float types
    cols_to_fix = ['medical','nursing','allied_health','management','care_support','others','overall']
    for col in cols_to_fix:
        df_staffnum[col] = pd.to_numeric(df_staffnum[col], errors='coerce')

    return df_finan, df_staffnum

In [38]:
df_finan, df_staffnum = load_data()

In [39]:
df_finan_diff = df_finan.copy()

In [40]:
df_finan_diff

,year,gov_subvention,med_fee,non_med_fee,donate,cap_donate,total,staff_cost,drugs,med_supplies,other_exp,total_exp,surplus_deficit
3,2021-01-01,81585,5251,1162,159,154,88311,58118,9642,5969,14091,87820,491
4,2022-01-01,87964,5236,1782,269,156,95407,59419,12451,6325,16734,94929,478
5,2023-01-01,89194,5866,3073,93,153,98379,62414,13127,5388,16464,97393,986

In [50]:
#find median (not average because results can be bias) for finding outliers
median_finana = df_finan_diff.median()
median_finana

year               2022-01-01 00:00:00
gov_subvention                 87964.0
med_fee                         5251.0
non_med_fee                     1782.0
donate                           159.0
cap_donate                       154.0
total                          95407.0
staff_cost                     59419.0
drugs                          12451.0
med_supplies                    5969.0
other_exp                      16464.0
total_exp                      94929.0
surplus_deficit                  491.0
dtype: object

In [ ]:
df_finan_diff['gov_subvention'] - median_finana['gov_subvention']

3   -6379.0
4       0.0
5    1230.0
Name: gov_subvention, dtype: float64

In [52]:
#check variables
numeric_cols = np.array((df_finan_diff.dtypes == 'float64') | (df_finan_diff.dtypes == 'int64'))
numeric_cols

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

## ANALYISTICS

In [ ]:
total_spent = df_finan['total_exp'].sum()
avg_spending = df_finan['total_exp'].mean()
ranking =df_finan[['staff_cost', 'drugs', 'med_supplies', 'other_exp']].sum().sort_values(ascending=False)

In [52]:
ranking

staff_cost      179951
other_exp        47289
drugs            35220
med_supplies     17682
dtype: int64

In [55]:
print(f"{avg_spending:.2f}")

93380.67